.dropdown-menu {
  display: none;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-link {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-link:hover {
  transition: background-color 0.15s;
  background-color: white;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
.navBar {
  padding: 20px;
  background-color: white;
  border-radius: 20px;
}
