.text {
  font-family: "Chela One";
  text-shadow: 3px 0 black, -3px 0 black, 0 3px black, 0 -3px black,
    2px 2px black, -2px 2px black, 2px -2px black;
}
.button {
  background-color: #0faddb;
  font-family: Arial, Helvetica, sans-serif;
}
